

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  border: 1px solid black;
  width: 120px;
  height: 50px;
  background-color: #37bcf9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  transition: background-color 0.3s, font-style 0.3s;
  /* font-size: 20px; */
}
.logo:hover{
  background-color: #00cc66; /* Verde */
  font-style: italic; /* Cursiva */
  color: #fff; /* Color del texto al pasar el ratón */

}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0;
  
}



.nav-links li {
  margin-left: 40px;
  
  
}



.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: font-size 0.3s;
}
.nav-links a:hover {
  font-size: 18px;
  color: #37bcf9;
}

/* .nav-links a:hover {
  color: #ccc;
} */

.contenedor1 {
  display: flex;
  flex-direction: column;
}

.titulocentral {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: auto;
  height: 90px;
}

.centrar {
  /* border: 1px solid black; */
  border: 10px solid white;
  text-align: center;
  max-width: 80%;
  color: white;
  background: linear-gradient(to left, rgb(0, 97, 160), #050505);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 20px;
  /* width: 750px; */
}

@media screen and (max-width: 600px) {
  .titulo-responsive h1 {
    font-size: 24px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}


.cursos {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tarjeta {
  width: 250px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00538c;
  margin: 10px;
  transition: all;
  padding: 20px;
}

.tarjeta:hover {

  background-color: #333;
  color: white;
  

}


.tarjeta h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.tarjeta p {
  margin-top: 25px;
  font-size: 14px;
  flex-grow: 1;
  text-align: center;
}


.cuadro {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cuadro h2 {
  font-size: 24px;
}

.contenido {
  display: flex;
  align-items: center;
  height: auto;
}



.contenido img {
  width: 300px;
  height: 350px;
}

.textoboton {
  display: flex;
  justify-content: space-between;
}

.textoboton h3 {
  color: rgb(0, 37, 67);
}

.textoboton a {
  background-color: #333;
  color:white;
  display: flex;
  align-items:baseline;
  background-size: 4px 4px;
  margin: 0;
  flex-direction: column;
  width: 80px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  border-radius: 20px;
}


#titulo {
  background-color: #ddd;

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(135deg, #d1d1d5 25%, transparent 25%), linear-gradient(225deg, #d1d1d5 25%, transparent 25%), linear-gradient(45deg, #d1d1d5 25%, transparent 25%), linear-gradient(315deg, #d1d1d5 25%, #e5e5f7 25%); */
  background-size: 4px 4px;
  /* margin: 0 auto; */

}


#titulo h2 {
  margin: 0;

  font-size: 35px;
}

.imagenlogo {
  background: linear-gradient(to left, rgb(0, 97, 160), #050505);
  border: 1px solid black;
  width: 500px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.textodetalle {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.textodetalle  p{
  font-style: italic; /* Cursiva */
  color:rgb(0, 37, 67)
}

footer {
  background-color: #333;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footertitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 350px) {

  .centrar {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    height: auto;

  }

  .cursos {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 700px) {

  .centrar {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    height: auto;
  }

  .cursos {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .tarjeta {
    display: flex;

  }

  #titulo {
    width: 550px;
    justify-content: center;
  }

  .imagenlogo {
    padding: 20px;
    width: auto;
    height: 50%;
  }

  .contenido {
    display: flex;
    flex-direction: column;
  }

  .cuadrodetalle {
    width: 50%;
    height: auto;
  }

}

.titulofooter,
.subtitulo {

  color: white;

}

.footer-list-title {

  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0;
  margin-left: 40px;
  margin-left: 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  color:#050505;
  background-color: #ccc;
  border-radius: 20px;



}
